/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.03.2016, 20:25:51
    Author     : Nikolay
*/

#books {
    border: solid 2px;
    width: 960px;
}